<body class="bg-index">

	<div class="container-fluid bg">
		<div class="col-xs-offset-2 col-xs-8 col-xs-offset-2">
			<h1>Own a Pic</h1>
			<div class="row">
				<p>Explanation about My_pic how it works, become owner of a Cool pic etc ...</p>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-offset-2 col-xs-8 col-xs-offset-2">
				<h3>How it works ?<i class="fa fa-cog fa-spin fa-3x"></i></h3>
				<div class="col-sm-6 border">
					<i class="fa fa-search fa-3x"></i>
				</div>
				<div class="col-sm-6 border">
					<i class="fa fa-cart-plus fa-3x"></i>
				</div>
				<div class="col-sm-6 border">
					<i class="fa fa-certificate fa-3x"></i>
					<i class="fa fa-copyright fa-3x"></i>
					<i class="fa fa-check-circle fa-3x"></i>
				</div>
				<div class="col-sm-6 border">
					<i class="fa fa-child fa-3x"></i>
					<i class="fa fa-file-image-o fa-3x"></i>
				</div>
			</div>						
		</div>
	</div>

</body>