<div class="shopping-cart">
  <%= render "shopping_cart" %>
</div>
<div>
	<script 
		src="https://checkout.stripe.com/checkout.js" 
		class="stripe-button"
		data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
		data-description="Own your cart's pics !"
		data-amount="<%=current_order.subtotal*100%>"
		>
	</script>
</div>