<div class="shopping-cart">
  <%= render "shopping_cart" %>
</div>
<div>
	<% if @order_items.size != 0 %>
		<%= form_tag carts_create_payment_path do%>
			<script 
				src="https://checkout.stripe.com/checkout.js" 
				class="stripe-button"
				data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
				data-description="Own copyright !"
				data-amount="<%=current_order.subtotal*100%>"
				>
			</script>
		<%end%>
	<%end%>
</div>