/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_self
 */

@import "images";
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";

h1 {
    display: inline-block;
}

.border {
	border-style: solid;
	border-color: black;
}

.bg-index {
    background: url(1.jpg) #353433;
    background-size: 25%;
    font-family: 'Open Sans', sans-serif;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}

table.ex1 {
    border-collapse: separate;
    border-spacing: 10px 50px;
    margin-left: auto;
	margin-right: auto;
}

.center {
	text-align: center;
}

td {
	padding: 15px;
}

.pointer {
	cursor: pointer;
}

#search_box {
    margin-top: 20px;
    margin-bottom: 10px;
}

button, input, optgroup, select, textarea {
    color: black;
    font: none;
    margin: 0px;
}

.bg-cart {
    background-color: transparent;
    width: 500px;
/*    height: 414px;*/
    border: 4px dashed rgb(27, 26, 25);
}

.pad-cart {
    padding: 5px;
}

.mark {
    background-color: #FFFFFF;
    border-radius: 10px;
}

.mark-name {
    background-color: #FFFFFF;
    text-align: center;
    color: black;
    opacity: 0.8;
}

.center {
    text-align: center;
}
/*NAV BOTTOM*/

footer {
clear: both;
width: 100%;
padding: 1rem 0px;
border-top: 1px solid #E9E9E9;
right: 0px;
left: 0px;
z-index: 1030;
}
.wide_wrapper {
width: 95%;
margin: 0px auto;
max-width: 1440px;
}
footer #logo {
width: 40px;
display: inline-flex;
float: left;
}
.navigation {
float: right;
padding: 0rem 2.5% 0px 0px;
}
footer .navigation {
float: right;
}
footer .navigation a {
color: white;
margin-left: 1.5rem;
line-height: 1;
display: inline-block;
}
.pad-left-footer {
padding-left: 18%;
}


