// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.border {
	border-style: solid;
	border-color: black;
}

.bg-index {
    background: url(1.jpg) #353433;
    background-size: 25%;
    font-family: 'Open Sans', sans-serif;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}

