    <div>
      <h4 style="color: black;"><%= image.name %></h4>
    </div>

    <div>
      <%= form_for order_item, remote: true do |f| %>
        <div class="input-group">
          <div class="input-group-btn">
            <%= f.hidden_field :image_id, value: image.id %>
            <%= f.submit "Add to Cart", class: "btn btn-success btn-lg btn-block", id: "btn-buy" %>
          </div>
        </div>
      <% end %>
    </div>