<div class="col-xs-offset-1 col-xs-4 col-xs-offset-1">
	<p><%= image.name%></p>
	<%=link_to image_tag(url_for(:controller => 'images', :action => '_show_image', :id => image.id), class: "pad-bot1 img-rounded"), image %> 
	<%if image.active == false%>
		<i class="fa fa-copyright">NOT available</i>
	<%else%>
		<i class="fa fa-copyright">available</i>
	<%end%>
</div>	
