<!-- image = @image -->
<div class="input-group">
  <div class="input-group-btn">
	<%= form_tag "/images/payment/#{params[:id]}" do %>
	  <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
	          data-key="<%= image.user.publishable_key %>"
	          data-description="Own <%= image.name %>"
	          data-amount="<%=image.price.to_i * 100%>"></script>
	<% end %>
  </div>
</div>