<!-- image = @image -->
<div class="input-group">
  <div class="input-group-btn">
      <%= link_to "Add to Cart", root_path, class: "btn btn-success btn-lg btn-block", id: "btn-buy" %>
  </div>
</div>