<p id="notice"><%= notice %></p>

<div class="row">
  <% @images.each do |image| %>
    <%= render "image_row", image: image, order_item: @order_item %>
  <% end %>
</div>

<br>

<%= link_to 'New Image', new_image_path %>